.card{
    color:white;
    margin-top: 20%;
}
label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
    color: black;
}
body{
    background-color:#4e63d6;
}
.card-body{
    margin-left: 11%;
    margin-top: 33px;
    width: 76%;
    height: 352px;
}
.container-fluid{
    background-color: white;
width: 35%;
}
.customDiv{
    margin-top: 5%;
    /* background-color: #4e63d6; */
}
.marfill{
    background-color: #4e63d6;
    height: -webkit-fill-available;
}
.padRht{
    margin-right:10px;
}
